{% extends 'authenticate/base_layout.html' %}
{% block content %}
{% comment %} <h1>This is hopme Page</h1> {% endcomment %}

{% for mesaage in messages %}
<div class="alert alert-{{ messages.tags }} alert-dismissible fade show" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="submit" class="close" data-dissmiss="alert" aria-label="Close">
    <span aria-hidded="true">&times;</span>
</button>
</div>
{% endfor %}


 {% if user.is_authenticated %}
 <h3>Hello {{ fname }}</h3>
 <h4>You Are successfully logged in</h4>
 <button><a href="/signout">Logout</a></button>

 {% else %}
 
<button><a href="/signin">SignIn</a></button>

<button><a href="/signup">Signup</a></button>
{% endif %}
{% endblock content %}
